Source: libtext-amuse-compile-perl
Section: perl
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libarchive-zip-perl,
 libebook-epub-lite-perl (>= 0.71),
 libmoo-perl (>= 1),
 libpdf-imposition-perl (>= 0.23),
 libtemplate-tiny-perl (>= 1.12),
 libtext-amuse-perl (>= 1.60),
 libtype-tiny-perl (>= 1),
 libjson-maybexs-perl,
 perl,
 fontconfig,
 libpdf-api2-perl,
 libpath-tiny-perl,
 xindy,
 fonts-cmu, fonts-texgyre, fonts-sil-charis,
 fonts-antykwa-poltawskiego, fonts-antykwa-torunska, fonts-nowacki,
 fonts-dejavu, fonts-linuxlibertine, fonts-sil-charis, fonts-hosny-amiri,
 fonts-paratype, lmodern, fonts-lmodern, fonts-sil-scheherazade,
 amusewiki-texlive
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/Text-Amuse-Compile

Package: libtext-amuse-compile-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libarchive-zip-perl,
 libebook-epub-lite-perl (>= 0.71),
 libmoo-perl (>= 1),
 libpdf-imposition-perl (>= 0.23),
 libtemplate-tiny-perl (>= 1.12),
 libtext-amuse-perl (>= 1.60),
 libtype-tiny-perl (>= 1),
 libjson-maybexs-perl,
 libpath-tiny-perl,
 fontconfig,
 fonts-cmu, fonts-texgyre, fonts-sil-charis,
 fonts-antykwa-poltawskiego, fonts-antykwa-torunska, fonts-nowacki,
 fonts-dejavu, fonts-linuxlibertine, fonts-sil-charis, fonts-hosny-amiri,
 fonts-paratype, lmodern, fonts-lmodern, fonts-sil-scheherazade,
 amusewiki-texlive | texlive-full
Description: Compiler for Text::Amuse
 This module provides the libraries and the executable muse-compile.pl
 to create EPUB, HTML, PDF files from Emacs Muse sources, in its
 Text::Amuse dialect.
 