#!/usr/bin/make -f
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)
export PATH := /opt/amusewiki-texlive/current/bin/arch:$(PATH)
export TEST_WITH_LATEX := 1

%:
	dh $@

# fix shebang and remove the use 'lib' stuff
override_dh_auto_install:
	dh_auto_install
	sed -i '1s,^#!.*perl,#!/usr/bin/perl,' $(TMP)/usr/bin/muse-compile.pl
	sed -i '1s,^#!.*perl,#!/usr/bin/perl,' $(TMP)/usr/bin/muse-create-font-file.pl
